<% if @item.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h4>

      <ul>
        <% @item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @item, html: {style: 'width: 200px', role: 'form'} do |f| %>


    <div class="form-group">
      <%= f.label :category_id %>
      <br>
      <%= f.select :category_id, @categories_select, {:prompt => 'Select Category'}, {:class => 'form-control'} %>
    </div>

    <div class="form-group">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <br>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :price %>
      <br>
      <%= f.text_field :price, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit 'Submit', :class => 'btn btn-default' %>
    </div>
<% end %>
